.video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 100%;
    background-color:  white;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    margin-top: 2rem;
    
}

.video-container::-webkit-scrollbar{
    display: none;
}

.videos{
    position: relative;
}

.fa{
    position: absolute;
    bottom: 5%;
    left: 7%;
    display: flex;

}
.fa h4{
    margin-top: 8%;
    margin-left: 12%;
    color: white
}


.comment-container{
    position: absolute;
    bottom: 1.8%;
    left: 18%;
    display: flex;
    cursor: pointer;
    color: white
}
